/* .hello{
    background-image: url('https://t3.ftcdn.net/jpg/01/66/84/96/360_F_166849625_tPjczxCHpG1egnai8eUNRg20SSvMjzBT.jpg');
    background-repeat: no-repeat;
    background-position: center;
} */

.welcome-page{
    align-items: center;
}